.desktop-header {
  display: none;
}

.mobile-header-top,
.mobile-nav-bottom {
  display: flex;
}

@media (min-width: 768px) {
  .desktop-header {
    display: block;
  }

  .mobile-header-top,
  .mobile-nav-bottom {
    display: none;
  }
}
